

/* General definitions */
.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}

/* Logo */
.reveal .slide-logo {
  max-height: 4rem !important;
}

/* Cover sections customization */
.cover-section {
  text-align: center;
}

/* Elements control */
.centered {
  text-align: center;
}

.justified {
  text-align: justify;
}

.aligned.left {
  text-align: left;
}

.aligned.right {
  text-align: right;
}

/* Box */
.box {
  height: 200px;
  width: 250px;
  color: #fff;
  padding: 10px;
  border: solid 3px #e1e1e1;
  border-style: dashed;
}

.box.centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.centered.boxes {
  align-items: center;
  justify-content: center;
}

/* Border */
.border {
  border: solid 1px #526479;
}

.border.rounded {
  border-radius: 30px;
}

.border.dashed {
  border-style: dashed;
}

.border.centered {
  display: flex;
  justify-content: center;
}

.border.mw65 {
  max-width: 65%;
}

.border.featured {
  flex-direction: column;
  height: 65px;
  background-color: #ECECEC;
}

.borders {
  display: flex;
  flex-direction: column;
}

.borders.spaced {
  gap: 40px;
}

.borders.centered {
  justify-content: center;
  align-items: center;
}

/* Banner */
.banner {
  display: flex;
  flex-direction: column;
}

.banner.centered {
  align-items: center;
  justify-content: center;
}

/* Columns */
.column .centered { 
  display: flex;
  justify-content: center;
}

/* Images */
.image.frame img { 
  background: rgba(255, 255, 255, 0.12); 
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) 
}

.image.tiny img {
  height: 620px;
}

.image.side {
  max-width: 920px;
}

/* Partners */
.partner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

/* Margins */
.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-150 {
  margin-top: 150px;
}

.ms-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-20 {
  margin-left: 20px;
}

.mtn-20 {
  margin-top: -20px;
}

.mtn-30 {
  margin-top: -30px;
}

.mtn-40 {
  margin-top: -40px;
}

.mtn-60 {
  margin-top: -60px;
}

.mtn-80 {
  margin-top: -80px;
}

.mtn-120 {
  margin-top: -120px;
}

.mbn-30 {
  margin-bottom: -50px;
}

/* Font-sizes */
.fs-20 {
  font-size: 20px;
}

.fs-25 {
  font-size: 25px;
}


.fs-30 {
  font-size: 30px;
}

.fs-35 {
  font-size: 40px;
}

.fs-40 {
  font-size: 40px;
}

.fs-45 {
  font-size: 45px;
}

.fs-50 {
  font-size: 50px;
}

/* Width */
.w500 {
  width: 500px;
}

.w520 {
  width: 520px;
}

.w550 {
  width: 550px;
}

.w570 {
  width: 570px;
}

.w850 {
  width: 850px;
}

.w900 {
  width: 900px;
}
